# DB
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
DATABASE_URL="postgresql://your_username:your_password@localhost:5432/your_database"

# Server
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3005

#JWT-token
JWT_SECRET=your-jwt-secret
JWT_REFRESH_SECRET=your-refresh-secret
ACCESS_TOKEN_EXPIRY=900 #15m
REFRESH_TOKEN_EXPIRY=604800 #7d

#Frontend
VUE_API_URL=http://localhost:3001/api
